<div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/1.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">82DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/2.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">50DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/casque/3.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">Casque</p>
          <p class="card-text">62DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/4.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">75DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/5.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">80DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/casque/6.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">Casque</p>
          <p class="card-text">70DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/7.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">63DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/8.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">36DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/9.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">60DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/casque/10.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">Casque</p>
          <p class="card-text">49DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/11.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">45DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/casque/12.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Casque</p>
       <p class="card-text">50DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>