<div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/31.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">31DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/32.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">23DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/clavier/33.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">clavier</p>
          <p class="card-text">27DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/34.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">26DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/35.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">32DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/clavier/36.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">clavier</p>
          <p class="card-text">40DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/37.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">39DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/38.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">40DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/39.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">22DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/clavier/40.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">clavier</p>
          <p class="card-text">19DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/41.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">28DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/clavier/42.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">clavier</p>
       <p class="card-text">37DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>