<div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/11.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">2340DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/12.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">3300DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/pc_gamer/13.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">Pc Gamer</p>
          <p class="card-text">2450DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/14.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">2220DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/15.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">2900DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/pc_gamer/16.png" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">Pc Gamer</p>
          <p class="card-text">2880DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/17.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">3120DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/18.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">3200DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/19.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">3500DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/pc_gamer/20.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">Pc Gamer</p>
          <p class="card-text">2200DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/100.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">2050DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/pc_gamer/104.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">Pc Gamer</p>
       <p class="card-text">4500DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <img   src="../../assets/images/pc_gamer/16.png"  >