<div class="culmn">
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <div class="container">    
            <div class="attr-nav">
                <ul>
                    <li class="dropdown">
                        <ul class="dropdown-menu cart-list">
                            <li>
                                <a href="#" class="photo"><img src="/Users/PCS/Downloads/projectV2/assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="/Users/PCS/Downloads/projectV2/assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="/Users/PCS/Downloads/projectV2/assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                            </li>
                            <li class="total">
                                <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                <a href="#" class="btn btn-cart">Cart</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>        
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                   <h1>E-Info</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">*
                    
                    <li><a routerLink="/pc">Pc gamer</a></li>                    
                    <li><a routerLink="/clavier">Clavier</a></li>                    
                    <li><a routerLink="/souris">Souris</a></li>                    
                    <li><a routerLink="/casque">Casque</a></li>                    
                </ul>
            </div>
        </div>  
    </nav>
    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">Bienvenue <br /> à E-INFO!</h1>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section id="contact" class="contact bg-mega fix">
        <div class="container">
            <div class="row">
                <div class="main_contact roomy-100 text-white">
                    <div class="col-md-4">
                        <div class="rage_widget">
                            <div class="widget_head">
                                <h3 class="text-white">E-INFO</h3>
                                <div class="separator_small"></div>
                            </div>
                            <p>E-INFO est un site de vente en ligne des pc gamer et ses accessoires. </p>

                            <div class="widget_socail m-top-30">
                                <ul class="list-inline">
                                    <li><a href="https://www.facebook.com/?stype=lo&jlou=AfcGkTZic-RRM0tlk1qY0_GcdEEyo3TXHLVj8SciW-RXSte9iV4rx3qMeFORvdCAPAWxaTuC3-kW-ZZsFYPQ2zZF_GwKnqnqC90_JGbGibXlCw&smuh=65300&lh=Ac_T4ADGwy9w9L5c_d4"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/i/flow/login"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/login/fr"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://vimeo.com/fr/upgrade?vcid=33430&utm_medium=cpc&utm_source=google&gclid=CjwKCAiA2fmdBhBpEiwA4CcHzT8AsZlxvxDaM7voygcBZ5Xvq_D4es0ctBLkdQTVbV132a9YC6m0RRoCVQwQAvD_BwE&gclsrc=aw.ds"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 sm-m-top-30">
                        <form class="" action="subcribe.php">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group"> 
                                        <input id="first_name" name="first_name" type="text" placeholder="Nom" class="form-control" required="">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">  
                                        <input id="phone" name="phone" type="text" placeholder="Téléphone" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">  
                                        <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <a href="" class="btn btn-primary">Envoyer</a>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <footer id="footer" class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="main_footer text-center p-top-40 p-bottom-30">
                </div>
            </div>
        </div>
    </footer>




</div>