<div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/21.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">49DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/22.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">44DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/souris/23.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">souris</p>
          <p class="card-text">29DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/24.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">39DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/25.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">45DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/souris/26.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">souris</p>
          <p class="card-text">50DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/27.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">34DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/28.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">27DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="r">
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/29.jpg" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">45DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
        <div class="card">
         <img class="card-img-top" src="../../assets/images/souris/30.jpg" alt="Card image cap">
         <div class="card-body">
          <p class="card-text">souris</p>
          <p class="card-text">23DT</p>
          <a routerLink="/form"><input type="button" value="Commander"></a>
         </div>
        </div>
       </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/31.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">30DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
    <div class="c">
     <div class="card">
      <img class="card-img-top" src="../../assets/images/souris/32.png" alt="Card image cap">
      <div class="card-body">
       <p class="card-text">souris</p>
       <p class="card-text">20DT</p>
       <a routerLink="/form"><input type="button" value="Commander"></a>
      </div>
     </div>
    </div>
   </div>